
.o_main_navbar {
    align-items: center;
    border-bottom: 0px solid #5f5e97 !important;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;
}

.top_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.top_heading ul {
    margin-bottom: 0 !important;
}
.top_heading > a {
    margin-left: 10px;
    font-size: 20px;
}
.top_heading li {
    list-style: none;
}

.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
    height: 46px;
    padding: 0 5px;
    line-height: 46px;
}

.topbar_icon .fa {
    color: #555b6d !important;
    font-size: 20px !important
}

.o_main_navbar .o_user_menu .oe_topbar_avatar {
    height: 35px;
    width: 35px;
}

.nav-link:hover, .nav-link:focus {
    border: 1px solid #e9e9e9 !important;
    border-bottom: none !important;
}
ul.sidebar_menu .nav-link:hover,ul.sidebar_menu .nav-link:focus {
    border: none !important;
    border-bottom: none !important;
}
.top_heading {
    a#closeSidebar {
        margin-left: 10px;
        i {
            color: #fff;
        }
    }
    a#openSidebar {
        margin-left: 10px;
        i {
            color: #fff;
        }
    }
}

nav.o_main_navbar.small_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

ul.o_menu_systray.topbar_icon {
    margin-left: auto;
}
.o_main_navbar .o_user_menu > a {
    display: flex;
    align-items: center;
}
.oe_topbar_name {
    max-width: 300px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}
ul.o_menu_sections {
    padding-left: 20px;
}
@media (max-width: 1371px) {
    nav.o_main_navbar {
        display: flex;
        //flex-wrap: wrap;
        justify-content: right;
        height: auto;
    }
    ul.o_menu_systray.topbar_icon {
        margin-left: auto;
    }
}
@media (max-width: 575.98px) {
    .o_main_navbar .o_menu_sections {
        max-width: 200px;
        overflow-x: auto;
        flex-wrap: nowrap !important;
    }
    .o_search_panel {
        flex: auto;
    }
}

@media (max-width:992px) {
    .o_action_manager.sidebar_margin {
        margin: 0 !important;
    }
    .top_heading.sidebar_margin {
        margin: 0 !important;
    }
    .sidebar_panel .sidebar {
        position: relative;
        padding-top: 0px !important;
    }
    .sidebar_panel .sidebar_close {
        display: block !important;
    }
}
@media (max-width:480px) {
    ul.o_menu_apps {
        padding-left: 25px;
    }
}

.o_field_widget.o_field_many2one .o_external_button {
    color: $o-brand-primary;
}

.dropdown-toggle.active {
    .o_burger_menu_username {
        color: #495057;
    }
}

.o_web_client .o_mobile_search .o_mobile_search_header {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent !important;
    border-image: linear-gradient(90deg, rgba(3,34,47,1) 22%, #17A2B8 50%, rgba(3,34,47,1) 78%);
    border-image-slice: 1;
    .o_mobile_search_button {
        color: rgb(0, 0, 0);
    }
}

// navbar
.o_main_navbar {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
    border-top: 0px;
    border-bottom: 2px solid transparent !important;
    border-image: linear-gradient(90deg, rgba(3,34,47,1) 22%, #17A2B8 50%, rgba(3,34,47,1) 78%);
    border-image-slice: 1;
//     background: rgb(113,75,103);
}


.o_main_navbar .o_nav_entry,
.o_main_navbar .dropdown-toggle,
.o_main_navbar .o_navbar_apps_menu .dropdown-toggle,
.o_main_navbar .o_menu_brand,
.o_main_navbar .o_menu_systray > * > a,
.o_main_navbar .o_menu_systray > * > .dropdown > a,
.o_main_navbar .o_menu_systray > * > button,
.o_main_navbar .o_menu_systray > * > label {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.o_main_navbar .o_nav_entry:hover,
.o_main_navbar .dropdown-toggle:hover,
.o_main_navbar .o_menu_systray > * > a:hover,
.o_main_navbar .o_menu_systray > * > .dropdown > a:hover,
.o_main_navbar .o_menu_systray > * > button:hover,
.o_main_navbar .o_menu_systray > * > label:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgb(0, 0, 0);
}

.o_main_navbar .o_nav_entry:hover,
.o_main_navbar .dropdown-toggle:hover,
.o_main_navbar .o_menu_brand:hover,
.o_main_navbar .o_menu_systray > * > a:hover,
.o_main_navbar .o_menu_systray > * > .dropdown > a:hover,
.o_main_navbar .o_menu_systray > * > button:hover,
.o_main_navbar .o_menu_systray > * > label:hover,
.o_main_navbar .o_nav_entry:focus,
.o_main_navbar .dropdown-toggle:focus,
.o_main_navbar .o_menu_brand:focus,
.o_main_navbar .o_menu_systray > * > a:focus,
.o_main_navbar .o_menu_systray > * > .dropdown > a:focus,
.o_main_navbar .o_menu_systray > * > button:focus,
.o_main_navbar .o_menu_systray > * > label:focus,
.o_main_navbar .focus.o_nav_entry,
.o_main_navbar .focus.dropdown-toggle,
.o_main_navbar .focus.o_menu_brand,
.o_main_navbar .o_menu_systray > * > a.focus,
.o_main_navbar .o_menu_systray > * > .dropdown > a.focus,
.o_main_navbar .o_menu_systray > * > button.focus,
.o_main_navbar .o_menu_systray > * > label.focus {
    color: rgb(0, 0, 0);
}

.o_main_navbar .dropdown.show > .dropdown-toggle,
.o_main_navbar .dropdown.show > .dropdown-toggle:hover,
.o_main_navbar .dropdown.show > .dropdown-toggle:focus {
    background: rgba(0, 0, 0, 0.05);
    color: rgb(0, 0, 0);
}

.o_main_navbar .o_menu_systray > * > a .badge,
.o_main_navbar .o_menu_systray > * > .dropdown > a .badge,
.o_main_navbar .o_menu_systray > * > button .badge,
.o_main_navbar .o_menu_systray > * > label .badge {
    color: #fff;
    background-color: $o-danger;
}

// right sidebar burger menu
.o_burger_menu {
    .o_burger_menu_topbar {
        background-color: $dx-brand-primary;
    }
    .o_burger_menu_content.o_burger_menu_dark {
        background-color: $dx-brand-primary;
    }
    .o_burger_menu_content ul li:not(:has(ul)):hover {
        background-color: $o-gray-800;
        box-shadow: inset 2px 0 0 $o-brand-primary;
        color: #fff;
        opacity: 1;
    }
    .o_burger_menu_content ul li ul > li:hover {
        background-color: $o-gray-800;
        box-shadow: inset 2px 0 0 $o-brand-primary;
        color: #fff;
        opacity: 1;
    }
}


// left sidebar
.top_heading {
    a#closeSidebar {
        i {
            color: rgb(0, 0, 0);
        }
    }
    a#openSidebar {
        i {
            color: rgb(0, 0, 0);
        }
    }
}

// sidebar
#sidebar_panel {
    border-left: 0px;
    border-right: 1px solid transparent;
    border-image: linear-gradient(180deg, rgba(3,34,47,1) 15%, #17A2B8 65%, rgba(3,34,47,1) 95%);
    border-image-slice: 1;
}

.sidebar_panel .sidebar .sidebar_menu li a {
    font-weight: 500;
    opacity: 0.7;
}
.sidebar_panel .sidebar a.nav-link.active {
    background-color: $o-gray-800;
    box-shadow: inset 2px 0 0 $o-brand-primary;
}
.sidebar_panel .sidebar .sidebar_menu li:hover  a {
    background-color: $o-gray-800;
    box-shadow: inset 2px 0 0 $o-brand-primary;
    color: #fff;
    opacity: 1;
}

// Setting tab
.o_base_settings .o_setting_container .settings_tab {
    background-color: $dx-brand-primary;
}

// Table
.table-sm th, .table-sm td {
    padding: 0.5rem;
}
tr.o_data_row {
    font-size: 15px;
}
.o_list_view .table-responsive .table thead tr:nth-child(1) th {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff !important;
}
th.o_list_record_selector {
    color: #495057 !important;
    border-color: #eff2f7 !important;
    background-color: #f8f9fa !important;
}
.table>:not(caption)>*>* {
    padding: 1rem 1rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector).o_list_number_th {
    text-align: left !important;
}
.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector) {
    border-left: none !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none;
}
.table th {
    border-top: 1px solid #fff !important;
}
.o_list_view .o_list_table tfoot {
    background-color: #fff !important;
}
.o_list_view .table-responsive .o_list_table tfoot tr:nth-child(1) td {
    background-color: #fff !important;
}
.o_list_view .o_list_table tr:focus-within,
.o_list_view .o_list_table.table-striped tr:focus-within {
    background-color: #fff !important;
}

//Table end

//Form
// input {
//     display: block;
//     width: 100%;
//     //height: 40px !important;
//     //padding: 10px 20px;
//     font-size: 13px;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #495057;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid #ced4da !important;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     border-radius: .25rem;
//     -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
//     transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
//     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
//     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
//     box-shadow: none !important;
//     margin-bottom:10px !important;
// }
.o_field_widget .o_input_dropdown .o_dropdown_button {
    position: absolute;
    top: 6px;
    left: auto;
    bottom: auto;
    right: 9px;
}
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_value,
.o_form_view .oe_button_box .btn.oe_stat_button > span .o_stat_value {
    color: #17A2B8;
}
.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
    color: #17A2B8;
}
// Form End


// Discuss
.o_Discuss {
	padding: 15px !important;
	background: #f5f5f9 !important;
}

.o_Discuss .o_DiscussSidebar {
	background-color: #ffffff !important;
	color: #17A2B8 !important;
    border-radius: 5px;
	margin-right: 10px !important;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63, .03) !important;
}

.o_DiscussSidebar_item.o-active {
    color: #f46a6a !important;
    font-weight: 500 !important;
}
.o_DiscussSidebarItem:hover {
    background: none !important;
}
.o_DiscussSidebarItem {
    cursor: pointer !important;
    color: #74788d !important;
    line-height: 24px !important;
    padding: 10px 5px !important;
}
.o_DiscussSidebarItem_activeIndicator.o-item-active {
    background: none !important;
}
// Discuss End


//kanban_view starts
.o_kanban_view {
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63, .03) !important;
}
.o_kanban_view.o_kanban_ungrouped .o_kanban_record {
    border-radius: 5px;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63, .03) !important;
}
.o_kanban_view .o_kanban_group {
    background: #fff;
    border-radius: 5px;
    margin-right: 10px;
}
.o_kanban_view.o_kanban_grouped {
    background-color: #f8f8fb;
}
.o_kanban_view.o_kanban_grouped .o_kanban_record, .o_kanban_view.o_kanban_grouped .o_kanban_quick_create {
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03) !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63, .03) !important;
}
.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_header + .container.o_kanban_card_content .o_kanban_primary_bottom.bottom_block {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(85,110,230,.25) !important;
}
.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.o_kanban_record::after {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.o_kanban_quick_create .o_form_view,
.o_kanban_quick_create .o_action,
.o_kanban_quick_create .o_content {
    background: #fff;
    margin: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.o_kanban_view .o_kanban_content .bg-primary {
    border-radius: 5px 0 0 5px;
}
//kanban_view ends

